@using Microsoft.AspNet.Identity

@{
    string userName = "";
    VkNet.VkApi vk = (VkNet.VkApi)Session["VkApi"];
    if (vk != null)
    {
       userName  = vk.Account.GetProfileInfo().FirstName;
    }
}

@if (!string.IsNullOrEmpty(userName))
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <h4 style="color:white;">@userName</h4>
        </li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Авторизация", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
