@using Microsoft.AspNet.Identity

@{
    string userName = "";
    VkNet.VkApi vk = (VkNet.VkApi)Session["VkApi"];
    if (vk != null)
    {
        userName = vk.Account.GetProfileInfo().FirstName;
    }
}

@if (!string.IsNullOrEmpty(userName))
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink(userName, "Login", null,htmlAttributes: new { @class = "dropdown",style="color:white" })
        </li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Авторизация", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink",style="color:white;" })</li>
    </ul>
}
