@using VK_Analyze.Models
@using VK_Analyze.Controllers.supportFunction;
@model UserFriendsView



@{
    ViewBag.Title = "Друзья";




}

<div class="body-content">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <h4>Внимание! Информация выведена по 300 друзьям, больше не возможно из-за специфики работы с ВКонтакте</h4>
                    @using (Html.BeginForm("Friends", "Home", null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                        <h4>Введите ID пользователя, которого нужно просканировать.</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">

                            @Html.LabelFor(m => m.ScreenName, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.ScreenName, new { @class = "form-control" })
                                <p><input type="submit" value="Проверить" /></p>
                            </div>
                        </div>
                    }
                </div>


                <hr />

                <h4>Информация</h4>
            </div>
            
           
                @Html.Partial("_FriendsInfo")
           
 
            
        </div>
    </div>
</div>
