@using VK_Analyze.Models
@using VK_Analyze.Controllers.supportFunction;
@model UserFriendsView



@{
    ViewBag.Title = "Друзья";

    List<CityInfo> citys = ViewBag.Citys;
    citys = (from x in citys orderby x.CountFriends descending select x).ToList();


    float countCitys = 0;
    foreach (CityInfo item in citys)
    {
        countCitys += item.CountFriends;
    }

    double percent = 0;
}

<div class="body-content">
    <div class="container">
        <div class="row">
            @foreach (CityInfo city in citys)
            {
               percent = Math.Round(city.CountFriends / countCitys, 4) * 100;
                if (percent > 1)
                {
                    <div class="row">
                        <div class="col-md-6">
                            <div style="font-size:@MathFunctions.Clamp((int)percent,10,70)px">
                                <div class="col-md-4">@city.City</div>
                                <div class="col-md-2">@percent%</div>
                            </div>
                        </div>
                    </div>
                    }
                }
        </div>
    </div>
</div>
