@{
    ViewBag.Title = "Домашнаяя страница";
}







@*<table>
    <tr>
        <td>Photo</td>
        <td>FirstName</td>
        <td>LastName</td>
        <td>City</td>
    </tr>
   
    @foreach (VkNet.Model.User item in ViewBag.Friends)
    {
        <tr>
            <td><img class="friendImage" src="@item.Photo100"/></td>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
            @if (item.City != null)
            {
              <td>@item.City.Title</td>
            }
        </tr>
    }

    
</table>*@
